.container {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}
.main {
    padding: 5px 15px;
    margin: 60px auto auto auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}
